*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

.nav-icon{
    font-size: 0.2rem;
    color: #fff;
    align-items: center;
    padding-bottom: 0.5rem;
}

.nav-icon img{
    height: 4rem;
    width: 3rem;
    width: 100%;

  
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #1c2833;
    align-items: center;
    z-index: 9999;
    padding: 0 clamp(15px, 5vw,80px);
    height: 4.5rem;
    position: sticky;
    top: 0;
    right: 0;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    
   
}

nav ul li{

    list-style-type: none;
    font-size: 1.4rem;
    margin: 0 1rem;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
    padding: 0.2rem 1rem;
    text-transform: uppercase;
}
nav ul li a:hover, nav ul li a.active{
    background-color: #566773;
    border-radius: 0.5rem;
}

.menu-btn{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

/* Navbar responsive start here */

@media only screen and (max-width:940px){

    

    nav ul{
        position: fixed;
        top: 4.5rem;
        left: -100%;
        height: calc(100dvh - 4.5rem);
        width: 100%;
        background-color: #000;
        flex-direction: column;
        text-align: center;
        padding: 4rem 0;
        transition: all ease 0.5s;

    }

    nav ul li{
        margin: 0.5rem 0;
    }

    nav ul li a:hover, nav ul li a.active{
        background: none;
        color: red;
    }

    .menu-btn{
        display: block;
    }

    #click:checked ~ ul{
        left: 0%;
    }

    #close{
        display: none;
    }

    #click:checked ~ .menu-btn #open{
        display: none;
    }

    #click:checked ~ .menu-btn #close{

        display: block;
    }


    
}

/* Here end the responsive of the nav bar */


/* Here start the header section */

.welcome{
    margin-top: 2rem;
    box-shadow: 2px 2px 5px 5px #555;
}

.welcome p{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    background: linear-gradient(to right , black,#ffa,#444,#1c2833);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    backdrop-filter: 2px ;
}

.single-slider-box{
    position: relative;
    content: '';
    top: 0;
    bottom: 0;
    width: 70rem;
    max-width: 90%;
    height: 22rem;
    margin: 50px auto;
    overflow: hidden;
    background: #fff;
    outline: none;
    display: flex;
    align-items: center;
}

.single-slider-box::after{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 50px;
    background-color: red;
    transform: rotate(30deg);
    display: flex;
    
}

.single-track{
    display: flex;
    gap: 2rem;
    width: max-content;
    animation: scroll 18s linear infinite;

}

.single-slide{
    width: 180px;
    height: 180px;
    flex-shrink: 0;
}

.single-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }
}

.web-welcome{
    margin: 0 4rem;
}
.web-welcome p{
    font-size: 19px;
    text-align: center; 
    text-transform: capitalize;

    
}

.button-parent{
    text-align: center;
}
#Know-More{

    text-decoration: none;
    display: inline-block;
    justify-content: center;
    color: #444;
    font-size: 1.8rem;
    margin: 1.5rem 0;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 0.28em ;
    align-items: center;
    text-align: center;  
    transition: 0.5s;
    
}

#Know-More:hover{
    transform: translatey(-2px);
    background: linear-gradient(135deg, #0f0c29 , #302b63 , #24243e, #c9a45c);
    color: #fff;
}

 /* Here end the header section  */

 @media screen {
    
 }